.volver-inicio-container {
    margin-bottom: 20px;
    padding-left: 25px;
}

.volver-inicio-container a {
    color: #f5e8d9;
    text-decoration: none;
    transition: color 0.3s ease;
}

.volver-inicio-container a:hover {
    color: #fff;
    text-decoration: underline;
}


.mensaje-feedback {
    max-width: 600px;
    margin: 0 auto 15px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #2a3;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.acciones-container form {
    margin: 0;
}

.boton-accion {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #f5e8d9;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.boton-logout {
    background-color: #4d4033;
    border: 1px solid #6b5a4a;
}

.boton-logout:hover {
    background-color: #604e3e;
    border-color: #7c6a5a;
}


.boton-eliminar {
    background-color: #8B0000;
    border: 1px solid #a10000;
}

.boton-eliminar:hover {
    background-color: #a10000;
    border-color: #c00;
}

.acciones-container form {
    margin: 0;
}

.boton-volver {
    background-color: #4d4033;
    border: 1px solid #6b5a4a;
    width: auto;
    display: inline-block;
}

.boton-volver:hover {
    background-color: #604e3e;
    border-color: #7c6a5a;
}

.acciones-wrapper {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 25px;
    box-sizing: border-box;
}

.acciones-wrapper hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,
        rgba(124, 92, 42, 0),
        rgba(124, 92, 42, 0.75),
        rgba(124, 92, 42, 0));
}

.acciones-wrapper h3 {
    color: #f5e8d9;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    margin-top: 20px;
    margin-bottom: 15px;
}