<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

  <display-name>TrucoWeb</display-name>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>RegistroServlet</servlet-name>
    <servlet-class>com.trucoweb.servlets.RegistroServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegistroServlet</servlet-name>
    <url-pattern>/RegistroServlet</url-pattern>
  </servlet-mapping>

  <!-- Registro del LoginServlet -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.trucoweb.servlets.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RankingServlet</servlet-name>
    <servlet-class>com.trucoweb.servlets.RankingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RankingServlet</servlet-name>
    <url-pattern>/ranking</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PerfilServlet</servlet-name>
    <servlet-class>com.trucoweb.servlets.PerfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfilServlet</servlet-name>
    <url-pattern>/PerfilServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EliminarUsuarioServlet</servlet-name>
    <servlet-class>com.trucoweb.servlets.EliminarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarUsuarioServlet</servlet-name>
    <url-pattern>/EliminarUsuarioServlet</url-pattern>
  </servlet-mapping>


</web-app>